#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 176px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(7, 7, 7, 0.931);

  @include media-breakpoint-up(lg) {
    height: 88px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 832px;
    margin: 0 auto;

    .header-left {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        color: #333333;
        font-size: 3rem;
        font-family: fantasy;
        font-weight: bold;
        text-align: center;

        @include media-breakpoint-up(lg) {
          font-size: 1.5rem;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .logo {
        margin: 0;
      }

      a {
        margin: 0;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .header-center {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      .search-bar {
        position: relative;
        width: 300px;
        height: 60px;
        background-color: white;
        border-radius: 3px;
        display: flex;
        align-items: center;
        align-self: center;
        margin-left: 48px;
    
        @include media-breakpoint-up(lg) {
          width: 150px;
          height: 30px;
          margin-left: 24px;
        }
    
        .search-icon {
          position: absolute;
          left: 36px;
          top: 14px;
          width: 32px;
          height: 32px;

          @include media-breakpoint-up(lg) {
            left: 18px;
            top: 7px;
            width: 16px;
            height: 16px; 
          }
        }
    
        .search-text-field {
          width: 100%;
          height: 100%;
          border: solid 2px;
          border-color: #dcdcdc;
          border-radius: 8px;
          font-weight: 500;
          font-size: 2rem;
          color: $text-color;
          padding-left: 90px;

          @include media-breakpoint-up(lg) {
            bordre: solid 1px;
            border-color: #dcdcdc;
            font-size: 1rem;
            padding-left: 45px;
          }
        }
      }
    }

    .header-right {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      .header-login-link {
        background-color: $login-button-blue;
        border: 2px solid $login-button-blue;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.12);
        font-size: 2rem;
        padding: 10px;
        color: #ffffff;

        @include media-breakpoint-up(lg) {
          border: 1px solid $login-button-blue;
          font-size: 1rem;
          padding: 5px;
        }
      }

      .person-icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;

        @include media-breakpoint-up(lg) {
          width: 50px;
          height: 50px; 
        }
      }
    }
  }
}
