body {
  margin: 0;
  background-color: #dcdcdc;
}
.container {
  margin: 200px auto;

  @include media-breakpoint-up(lg) {
    margin: 88px auto;
  }
}

.base-button {

  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}
