.post-container {
  width: 90%;
  margin: 120px auto 0;
  min-height: 80vh;
  background-color: white;
  border-radius: 15px;
  padding: 50px 0 30px;

  @include media-breakpoint-up(lg){
    width: 50%;
  }

  .post-title {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    color: #696969;
    overflow-wrap: normal;

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .book-info-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include media-breakpoint-up(lg) {
      margin-top: 20px;
    }

    .book-info-left {
      margin: 15px 30px;
      display: flex;
      align-items: center;

      .book-image {
        width: 256px;
        height: 334px;
        border: solid 0.5px;
        border-radius: 15px;
        border-color: #dcdcdc;
      }
    }
    .book-info-right {
      width: 47%;
      min-height: 321px;
      margin: 15px 15px 30px;
      padding: 10px 10px 0px 10px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;

      .book-info-detail {
        padding: 0 0 10px 0;
        border-bottom: solid 1px;
        border-color: #A9A9A9; 
      }

      .book-title {
        font-size: 2rem;
        text-align: center;
        overflow-wrap: break-word;
        margin:0 0 20px;

        @include media-breakpoint-up(lg) {
          font-size: 1.5rem;
          margin: 0 0 10px;
        }
      }

      .book-author {
        display: inline;
        margin: 0 0 0 20px;
        font-size: 1.5rem;
        overflow-wrap: break-word;

        @include media-breakpoint-up(lg) {
          margin: 0 0 0 10px;
          font-size: 1rem;
        }
      }
      .book-impression {
        margin: 20px 0 20px 20px;
        font-size: 1.5rem;
        overflow-wrap: break-word;

        @include media-breakpoint-up(lg) {
          margin: 10px 0 10px 10px;
          font-size: 1rem;
        }
      }
      
      .book-description {
        margin-left: 20px;
        padding: 10px 0;
        font-size: 1.5rem;

        @include media-breakpoint-up(lg) {
          margin-left: 10px;
          padding:0;
          font-size: 1rem;
        }
      }
    }
  }
  .book-impression-wrapper {
    margin: 15px 30px;

    .impression-title {
      margin: 5px 0;
      font-size: 1.5rem;
      color: $text-color;

      @include media-breakpoint-up(lg) {
        margin: 10px 0;
        font-size: 1.3rem;
      }
    }

    .post-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .impression-text {
      display: block;
      width: 95%;
      min-height: 200px;
      padding: 10px 20px;
      margin: 5px auto;
      height: 100px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      font-size: 1.8rem;
      color: $text-color;

      @include media-breakpoint-up(lg) {
        font-size: 1.3rem;
        min-height: 150px;
      }
    }

    .impression-text-show {
      display: block;
      min-height: 200px;
      padding: 10px 20px;
      margin: 5px 0;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      font-size: 1.8rem;
      color: $text-color;

      @include media-breakpoint-up(lg) {
        min-height: 150px;
        font-size: 1.5rem;
      }
    }

    .post-button {
      margin: 10px 0;
      padding: 0 10px;
      display: block;
      border-radius: 8px;
      height: 60px;
      line-height: 60px;
      border: none;
      font-size: 2rem;
      font-weight: 500;
      color: white;
      box-sizing: content-box;
      background-color: $login-button-blue;

      @include media-breakpoint-up(lg) {
        height: 30px;
        line-height: 30px;
        font-size: 1.3rem;
      }
    }
  }

  .user-info-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 30px 10px 30px;
    background: #191970;
    border-radius: 8px;

    @include media-breakpoint-up(lg) {
      margin: 15px 30px 10px; 
    }
    
    .user-profile {
      width: 100px;
      height: 100px;
      margin: 20px 20px 10px 20px;
      border-radius: 50%;

      @include media-breakpoint-up(lg) {
        width: 50px;
        height: 50px;
        margin: 10px 10px 5px 10px;
      }
    }
    .user-name {
      margin: 20px 0 20px 20px;
      font-size: 3rem;
      font-weight: 600;
      color: white;

      @include media-breakpoint-up(lg) {
        margin: 10px 0 10px 10px;
        font-size: 1.5rem;
      }
    }
  }

  .transition-wrapper {
    margin: 3px 10% 20px;
    display: flex;
    justify-content: flex-end;
  }

  .delete-button {
    margin: 10px 10px 0;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: $danger-red;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }
  .edit-button {
    margin: 10px 10px 0;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #0000EE;

    @include media-breakpoint-up(lg) {
      font-size: 1.2rem;
    }
  }

  .no-content-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    .no-content-image {
      width: 200px;
      height: 200px;

      @include media-breakpoint-up(lg) {
        width: 100px;
        height: 100px; 
      }
    }

    .no-content-message {
      margin: 0;
      font-size: 2rem;
      color: #A9A9A9; 

      @include media-breakpoint-up(lg) {
        font-size: 1rem; 
      }
    }
  }

  .no-book-wrapper {
    height: 400px;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(lg) {
      margin-top: 200px;
    }

    .no-book-image {
      width: 140px;
      height: 140px;

      @include media-breakpoint-up(lg) {
        width: 70px;
        height: 70px;
      }
    }

    .no-book-message {
      margin: 10px 0 0;
      font-size: 2rem;
      color: #A9A9A9; 

      @include media-breakpoint-up(lg) {
        margin: 5px 0 0;
        font-size: 1rem;
      }
    }

    .book-search-link {
      margin-top: 10px;
      font-size: 2rem;

      @include media-breakpoint-up(lg) {
        margin-top: 5px;
        font-size: 1rem; 
      }
    }
  }
}
