.post-container {
  background-color: white;
  padding: 20px 25px;
  border-radius: 15px;

  @include media-breakpoint-up(md) {
    margin: 60px 0 0;
    padding-top: 20px;
  }
  .post-title {
    margin: 0 0 15px;
    text-align: center;
    font-size: 1.8rem;
    color: $text-color;
  }

  .book-info-wrapper {
    display: flex;

    .book-info-left {
      margin: 15px 30px;

      .book-image {
        width: 256px;
        height: 334px;
        border: solid 0.5px;
        border-radius: 15px;
        border-color: #dcdcdc;
      }
    }
    .book-info-right {
      width: 47%;
      margin: 15px 30px;
      padding: 10px 10px 0px 10px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;

      .book-info-detail {
        padding: 0 0 10px 0;
        border-bottom: solid 1px;
        border-color: #A9A9A9; 
      }

      .book-title {
        font-size: 1rem;
        text-align: center;
        overflow-wrap: break-word;
        margin:0 0 10px;
        color: $text-color;
      }
      .book-author {
        display: inline;
        margin: 0 10px 0 0;
      }
    }
  }
  .book-impression-wrapper {
    margin: 15px 30px;

    .impression-title {
      margin: 5px 0;
      font-size: 1.2rem;
      color: $text-color;
    }

    .post-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .impression-text {
      display: block;
      width: 100%;
      margin: 5px 0;
      height: 100px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      font-size: 1.2rem;
      color: $text-color;
    }

    .impression-text-show {
      display: block;
      padding: 10px 20px;
      margin: 5px 0;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      font-size: 1.2rem;
      color: $text-color;
    }

    .post-button {
      margin:5px 0;
      padding: 0 10px;
      display: block;
      border-radius: 8px;
      height: 30px;
      line-height: 30px;
      border: none;
      font-size: 1.2rem;
      font-weight: 500;
      color: white;
      box-sizing: content-box;
      background-color: $login-button-blue;
    }
  }

  .user-info-wrapper {
    display: flex;
    align-items: center;
    margin: 15px 30px 10px 30px;
    background: #191970;
    border-radius: 8px;
    
    .user-profile {
      width: 50px;
      height: 50px;
      margin: 10px 10px 5px 10px;
      border-radius: 50%;
    }
    .user-name {
      margin: 10px 0 10px 10px;
      font-size: 1.5rem;
      font-weight: 600;
      color: white;
    }
  }

  .transition-wrapper {
    margin: 3px 10% 20px;
    display: flex;
    justify-content: flex-end;
  }

  .delete-button {
    margin: 10px 10px 0;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: $danger-red;
  }
  .edit-button {
    margin: 10px 10px 0;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #0000EE;
  }

  .no-content-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0;

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    .no-content-image {
      width: 200px;
      height: 200px;

      @include media-breakpoint-up(lg) {
        width: 100px;
        height: 100px; 
      }
    }

    .no-content-message {
      margin: 0;
      font-size: 2rem;
      color: #A9A9A9; 

      @include media-breakpoint-up(lg) {
        font-size: 1rem; 
      }
    }
  }

  .no-book-wrapper {
    height: 400px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-book-image {
      width: 70px;
      height: 70px;
    }

    .no-book-message {
      margin: 5px 0 0;
      font-size: 1rem;
      color: #A9A9A9; 
    }

    .book-search-link {
      margin-top: 5px;
      font-size: 1rem;
    }
  }
}
