// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {

  .session-card {
    border: solid;
    border-color: #a9a9a9;
    border-radius: 20px;
    margin: 46px auto;
    padding: 35px 22px;

    @include media-breakpoint-up(md) {
      max-width: 560px;
      margin: 46px auto;
    }
  }
  .session-user-icon {
    display: block;
    margin: 0 auto 20px;
  }

  .session-title {
    margin-top: 10px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #696969;
  }

  .login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .login-field {
      width: 100%;
      text-align: center;
      height: 44px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      margin-top: 24px;
      font-size: 1.2rem;
    }

    .login-button {
      width: 100%;
      text-align: center;
      display: block;
      border-radius: 8px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      margin-top: 54px;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
      box-sizing: content-box;
      background-color: $login-button-blue;
    }

    .signup-text-link {
      margin-top: 22px;
      text-align: center;
      line-height: 1.2rem;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: #191970;
    }

    .login-errors {
      width: 100%;
      text-align: center;
      margin-top: 22px;
      padding: 5px 0;
      
      border: 1px solid $error-color;
      border-radius: 8px;
      
      .login-error-text {
        margin: 12px 0 0 0;
        line-height: 1.0rem;
        font-size: 1.0rem;
        font-weight: 500;
        word-break: break-word;
        color: $error-color;
      }
    }
  }
}
