// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {
  .session-card {
    background-color: white;
    border: none;
    border-color: #a9a9a9;
    border-radius: 20px;
    margin: 46px auto;
    padding: 35px 22px;

    @include media-breakpoint-up(md) {
      max-width: 500px;
      margin: 150px auto 0;
      padding: 35px 22px;
    }
  }

  .user-info-wrapper {
    max-width: calc(100% - 50px);
    width: 100%;
    margin: 30px auto 20px;
    
    .no-profile-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: solid black;
      margin: 50px auto;
      @include media-breakpoint-up(md) {
        width: 200px;
        height: 200px;
      }
    }
  
    .add-profile-image-button {
      display: block;
      width: 100px;
      height: 100px;
      border-radius:50%;
      height: 50%;
      border: none;
      margin: 0 auto;
      @include media-breakpoint-up(md) {
        width: 200px;
        height: 200px;
      }
  
      .profile-image-preview {
        align-items: center;
        display: none;
        width: 100px;
        height: 100px;
        pointer-events: none;
        object-fit: cover;
        border-radius: 50%;
        transform:translate(-5px, 0px);
  
        @include media-breakpoint-up(md) {
          width: 200px;
          height: 200px;
        }
  
        &.active {
          display: block;
        }
  
        &.margin {
          margin: 108px auto 0;
        }
      }
    }
  
    .profile-image {
      display: block;
      width: 102px;
      height: 102px;
      box-shadow: 2px 8px 24px;
      pointer-events: none;
      border-radius: 50%;
      object-fit: cover;
      margin: 0;
  
      @include media-breakpoint-up(md) {
        margin: 0;
        width: 238px;
        height: 238px;
      }
  
      &--default {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        box-shadow: 2px 8px 24px;
        background-image: image-url("icon/profile");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32%;
        margin: 43px 15px 43px 0;
  
        @include media-breakpoint-up(md) {
          margin: 0;
          width: 238px;
          height: 238px;
        }
      }
    }
  }
  
  .session-user-icon {
    display: block;
    margin: 0 auto 5px;
  }

  .session-title {
    margin: 15px auto 10px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #696969;
  }

  .login-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    .login-field {
      width: 100%;
      text-align: center;
      height: 44px;
      border: solid;
      border-radius: 8px;
      border-color: #dcdcdc;
      margin-top: 10px;
      font-size: 1.2rem;
    }

    textarea.login-field {
      height: 94px;
    }

    .file-field {
      display: none;
    }

    .login-button {
      width: 100%;
      text-align: center;
      display: block;
      border-radius: 8px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      margin-top: 20px;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
      box-sizing: content-box;
      background-color: $login-button-blue;
    }

    .signup-text-link {
      margin-top: 15px;
      text-align: center;
      line-height: 1.2rem;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: #191970;
    }

    .login-errors {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      padding: 5px 0;
      
      border: 1px solid $error-color;
      border-radius: 8px;
      
      .login-error-text {
        margin: 10px 0 0 0;
        line-height: 1.0rem;
        font-size: 1.0rem;
        font-weight: 500;
        word-break: break-word;
        color: $error-color;
      }
    }
  }
}
