// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-container {
  width: 90%;
  margin: 120px auto 0;
  min-height: 80vh;
  background-color: white;
  border-radius: 15px;
  padding: 50px 0 30px;

  @include media-breakpoint-up(lg){
    width: 50%;
  }

  .user-card {
    padding: 20px 25px 0;

    @include media-breakpoint-up(lg){
      padding: 10% 5% 5%;
    }

    .transition-wrapper{
      margin: 10px 10% 30px;
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-up(lg) {
        margin: 3px 10% 20px;
      }
    }
  }

  .user-title {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    color: #696969;
    overflow-wrap: normal;

    @include media-breakpoint-up(lg) {
      margin: 30px 0 50px;
      font-size: 2rem;
      line-height: 2rem;
    }
  }

  .user-info-wrapper {
    max-width: calc(100% - 50px);
    width: 100%;
    margin: 30px auto 20px;
    
    .no-profile-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 50px auto;
      @include media-breakpoint-up(md) {
        width: 200px;
        height: 200px;
      }
    }
  
    .add-profile-image-button {
      display: block;
      width: 300px;
      height: 300px;
      border-radius:50%;
      height: 50%;
      border: none;
      margin: 0 auto;

      @include media-breakpoint-up(lg) {
        width: 200px;
        height: 200px;
      }
  
      .profile-image-preview {
        align-items: center;
        width: 300px;
        height: 300px;
        pointer-events: none;
        object-fit: cover;
        border-radius: 50%;
        transform:translate(-5px, 0px);
  
        @include media-breakpoint-up(lg) {
          width: 200px;
          height: 200px;
        }
  
        &.active {
          display: block;
        }
  
        &.margin {
          margin: 108px auto 0;
        }
      }
    }
  
    .profile-image {
      display: block;
      width: 102px;
      height: 102px;
      box-shadow: 2px 8px 24px;
      pointer-events: none;
      border-radius: 50%;
      object-fit: cover;
      margin: 0;
  
      @include media-breakpoint-up(md) {
        margin: 0;
        width: 238px;
        height: 238px;
      }
  
      &--default {
        width: 102px;
        height: 102px;
        border-radius: 50%;
        box-shadow: 2px 8px 24px;
        background-image: image-url("icon/profile");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 32%;
        margin: 43px 15px 43px 0;
  
        @include media-breakpoint-up(md) {
          margin: 0;
          width: 238px;
          height: 238px;
        }
      }
    }
  }

  .user-profile-wrapper {
    max-width: calc(100% - 50px);
    width: 100%;
    margin: 60px auto 40px;

    @include media-breakpoint-up(lg) {
      margin: 10px auto 20px;
    }

    .user-bio {
      width: 75%;
      margin: 20px auto 0;
      font-size: 2rem;
      color: $text-color;
      overflow-wrap: break-word;

      @include media-breakpoint-up(lg) {
        margin: 40px auto 0;
        font-size: 1.3rem;
      }
    }
  }

  .login-form {
    margin: 20px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      width: 80%;
      margin: 5px auto;
    }

    .login-field {
      width: 100%;
      text-align: center;
      height: 100px;
      border: solid 2px;
      border-radius: 8px;
      border-color: #dcdcdc;
      margin: 30px 0 0 0;
      padding: 0;
      font-size: 2.5rem;

      @include media-breakpoint-up(lg) {
        height: 44px;
        border: solid 1px;
        border-color: #dcdcdc;
        font-size: 1.2rem;
        margin: 10px 0 0 0;
      }
    }

    textarea.login-field {
      height: 500px;
    }

    .file-field {
      display: none;
    }

    .login-button {
      text-align: center;
      display: block;
      border-radius: 8px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      margin: 30px 0 0;
      border: none;
      font-size: 2.5rem;
      font-weight: 500;
      color: white;
      box-sizing: content-box;
      background-color: $login-button-blue;

      @include media-breakpoint-up(lg) {
        height: 44px;
        line-height: 44px;
        margin: 20px 0 0;
        font-size: 1.4rem;
      }
    }

    .signup-text-link {
      margin-top: 50px;
      text-align: center;
      line-height: 2.5rem;
      font-size: 2.5rem;
      font-weight: 500;
      text-decoration: none;
      color: #191970;

      @include media-breakpoint-up(lg) {
        margin-top: 15px;
        line-height: 1.2rem;
        font-size: 1.2rem;
      }
    }

    .login-errors {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      padding: 10px 0;
      
      border: 2px solid $error-color;
      border-radius: 8px;

      @include media-breakpoint-up(lg) {
        margin-top: 10px;
        padding: 5px 0;
        
        border: 1px solid $error-color;
      }
      
      .login-error-text {
        margin: 20px 0 0;
        line-height: 2rem;
        font-size: 2rem;
        font-weight: 500;
        word-break: break-word;
        color: $error-color;

        @include media-breakpoint-up(lg) {
          margin: 10px 0 0;
          line-height: 1rem;
          font-size: 1rem;
        }
      }
    }
  }

  .user-post-container {
    border-radius: 15px;
    margin: 60px 0 0;
    padding: 0 0 40px;
  
    @include media-breakpoint-up(lg) {
      padding: 20px 25px;
    }
  
    .book-info-wrapper {
      display: flex;
      justify-content: center;
  
      .book-info-left {
        margin: 15px 30px 15px 0;

        @include media-breakpoint-up(lg) {
          margin: 15px 15px 15px 0;
        }
  
        .book-image {
          width: 256px;
          height: 334px;
          border: solid 0.5px;
          border-radius: 15px;
          border-color: #dcdcdc;
        }
      }
      .book-info-right {
        width: 45%;
        min-height: 321px;
        margin: 15px 0 15px 30px;
        padding: 10px 10px 0px 10px;
        border: solid;
        border-radius: 8px;
        border-color: #dcdcdc;

        @include media-breakpoint-up(lg) {
          width: 40%;
          margin: 15px 0 15px 15px;
        }
  
        .book-info-detail {
          padding: 0 0 10px 0;
          border-bottom: solid 1px;
          border-color: #A9A9A9; 
        }
  
        .book-title {
          font-size: 2rem;
          text-align: center;
          overflow-wrap: break-word;
          margin:0 0 20px;
          color: $text-color;

          @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
            margin: 0 0 10px;
          }
        }
        .book-author {
          display: inline;
          margin: 0 0 0 20px;
          font-size: 1.5rem;
          overflow-wrap: break-word;

          @include media-breakpoint-up(lg) {
            margin: 0 0 0 10px;
            font-size: 1rem;
          }
        }

        .book-impression {
          margin: 20px 0 20px 20px;
          font-size: 1.5rem;
          overflow-wrap: break-word;

          @include media-breakpoint-up(lg) {
            margin: 10px 0 10px 10px;
            font-size: 1rem;
          }
        }
      }
    }
    
    .user-info-wrapper {
      display: flex;
      align-items: center;
      margin: 15px 30px 20px;
      background: #191970;
      border-radius: 8px;

      @include media-breakpoint-up(lg) {
        margin: 15px 30px 10px; 
      }
      
      .user-profile {
        width: 100px;
        height: 100px;
        margin: 20px 20px 10px 20px;
        border-radius: 50%;

        @include media-breakpoint-up(lg) {
          width: 50px;
          height: 50px;
          margin: 10px 10px 5px 10px;
        }
      }
      .user-name {
        margin: 20px 0 20px 20px;
        font-size: 3rem;
        font-weight: 600;
        color: white;

        @include media-breakpoint-up(lg) {
          margin: 10px 0 10px 10px;
          font-size: 1.5rem;
        }
      }
    }
    .no-content-wrapper {
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 150px 0 0;
  
      @include media-breakpoint-up(lg) {
        margin: 0;
      }
  
      .no-content-image {
        width: 200px;
        height: 200px;
  
        @include media-breakpoint-up(lg) {
          width: 100px;
          height: 100px; 
        }
      }
  
      .no-content-message {
        margin: 0;
        font-size: 2rem;
        color: #A9A9A9; 
  
        @include media-breakpoint-up(lg) {
          font-size: 1rem; 
        }
      }
    }
  }

  .delete-button {
    margin: 20px 20px 0;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: $danger-red;

    @include media-breakpoint-up(lg) {
      margin: 20px 10px 0;
      font-size: 1rem;
    }
  }
  .edit-button {
    margin: 20px 20px 0;
    border: none;
    font-size: 2rem;
    font-weight: 500;
    color: #0000EE;

    @include media-breakpoint-up(lg) {
      margin: 20px 10px 0;
      font-size: 1rem;
    }
  }
}
